{% extends 'pivote/base.html' %}
{% load static %}


{% block content %}

    <div class="centro borde ">
        <img src="{% static 'pivote/logo.png' %}" alt="Logo" class="img-fluid mx-auto d-block tamaño-logo">
        <h2 class="texto border-bottom" style=" padding-top: 40px; padding-bottom: 10px; margin-bottom: 25px; padding-left: 10px; color: #ba9b2a ; ">Registro de Usuario</h1>
        
        <form method="post" class="card mt-5 custom-form" style="color: #ba9b2a; ">
            {% csrf_token %}
            {{ form.as_p }} 
            <div class="d-grid gap-2">
                <button type="submit" class=" btn btn-outline-warning btn-lg">Registrar</button>
            </div>
        </form>
        {% if message %}
            <div style="color: green;">{{ message }}</div>
        {% endif %}

    </div>
    {% endblock %}