<div class="row" style="background-color:burlywood;margin-left: 25vw;margin-right:25vw ;margin-top: 4vh;border-radius: 10%;">

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
<div class="row" style="margin-top: 2vh;">   
    <div class="col-2"></div>
    <div class="col-8">
        <label for="mail" class="form-label" style="font-weight: bold;">Correo o Usuario: </label>
        <input
          type="text"
          class="form-control"
          name="mail"
          placeholder="correo o usuario"
          id="mail"
          required
        />
    </div>
</div>

<div class="row">   
    <div class="col-2"></div>
    <div class="col-8">
        <label for="contraseña" class="form-label" style="font-weight: bold;">Contraseña: </label>
        <input
          type="password"
          class="form-control"
          name="contraseña"
          placeholder="contraseña"
          id="contraseña"
          required
        />
    </div>
</div>

<div class="row" style="margin-top: 3vh;margin-bottom: 3vh;">
    <div class="col-6" style="margin-left: 22vw;"> <button> Entrar </button> </div>
</div>













</form>
</div>