{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #ba9b2a;">
        <img src="{% static 'pivote/logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" >
        MOCA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'material' %}">Material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link textoNav" href="{% url 'allTest' %}">Ver Test</a>
          </li>
          {% if request.user.is_staff or es_profesor %}
          <li class="nav-item">
            <a class="nav-link textoNav" href="{% url 'crearTest' %}">Crear Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'crearPost' %}">Subir material</a>
          </li>
          {% endif %}
          {% if not anonimo %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="return confirm('Estás segur@?');" href="delete/">Eliminar cuenta</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" style="color: #ba9b2a;">Bienvenido a MOCA {% if not anonimo %} {{usuarioactual}} {% endif %}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
